---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto Condensed', sans-serif;
$width-breakpoint: 900px;

// Colors
$black-color:  #111111;
$white-color:  #ffffff;
$yellow-color: #f8a40c;
$teal-color:   #3a97aa;
$purple-color: #5543a3;
$red-color:    #eb2222;

@media screen and (max-width: $width-breakpoint) {
  $horizontal-margin: 20px;
  @import "base";
  @import "header";
  @import "promo-banner";
  @import "index";
  @import "overview";
  @import "events";
  @import "donate";
  @import "social-icons";
  @import "copyright";
}

@media screen and (min-width: $width-breakpoint) {
  $horizontal-margin: 100px;
  @import "base";
  @import "header";
  @import "promo-banner";
  @import "index";
  @import "overview";
  @import "events";
  @import "donate";
  @import "social-icons";
  @import "copyright";
}

