---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto Condensed', sans-serif;
$width-breakpoint: 900px;

// Colors
$black-color:  #111111;
$white-color:  #ffffff;
$yellow-color: #f8a40c;
$teal-color:   #3a97aa;
$purple-color: #5543a3;
$red-color:    #eb2222;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
/*@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}*/

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
@import "header";
@import "promo-deck";
@import "index";
@import "about";
@import "programs";
@import "donate";
@import "donate-block";
@import "footer";

