<header>
  <h1 id="brand">
    THE FUTURES FUND
  </h1>
  <ul id="header-image-list">
    <li><img src="/img/header/performing-program.png">
    <li><img src="/img/header/digital-program.png">
    <li><img src="/img/header/literary-program.png">
    <li><img src="/img/header/visual-program.png">
  </ul>
  <ul id="header-subtitle-list">
    <li id="header-subtitle-performing"><span>Performing</span>
    <li id="header-subtitle-digital"><span>Digital</span>
    <li id="header-subtitle-literary"><span>Literary</span>
    <li id="header-subtitle-visual"><span>Visual</span>
  </ul>
</header>
