<div id="program-overview">
  <ul>
    <li>
      <h2 id="program-overview-title-digital">DIGITAL</h2>
      <p>
        We teach computer programming and design skills to youth.
        This program leads to paid internships with local software companies and website design programs.
      </p>
    </li>
    <li>
      <h2 id="program-overview-title-visual">VISUAL</h2>
      <p>
        We teach documentary photography skills to youth.
        This program leads to the creation of paid event and portrait photography opportunities as well as prints featured in local galleries to be sold publicly.
      </p>
    </li>
    <li>
      <h2 id="program-overview-title-literary">LITERARY</h2>
      <p>
        We teach how to create compelling copy for marketing materials, writing grants, and ethnographic story telling to youth. This program leads to paid opportunities with creative agencies, media/editorial, and and in some cases creating books to sell.
      </p>
    </li>
    <li>
      <h2 id="program-overview-title-performing">PERFORMING</h2>
      <p>
        We teach the fundamentals of live and recorded music production as well as the essential skills of arts and entertainment management.  This program leads to paid opportunities for sound engineers, mixing at concerts, and managing music and visual artists.
      </p>
    </li>
  </ul>
</div>
