<div id="program-overview">
  <ul>
    <li>
      <h2 id="program-overview-title-digital">DIGITAL</h2>
      <p>
        We teach basic computer programming skills to youth.<br>
        This program leads to paid internships with local web development companies.
      </p>
    </li>
    <li>
      <h2 id="program-overview-title-visual">VISUAL</h2>
      <p>
        We teach documentary photography skills to youth.<br>
        This program leads to the creation of prints featured in local galleries & sold publicly.
      </p>
    </li>
    <li>
      <h2 id="program-overview-title-performing">PERFORMING</h2>
      <p>
        We teach classical musicianship skills to youth.<br>
        This program leads to the creation of music ensembles that are paid to perform publicly.
      </p>
    </li>
    <li>
      <h2 id="program-overview-title-literary">LITERARY</h2>
      <p>
        We teach ethnographic storytelling skills to youth.<br>
        This program leads to creation of books featured in local bookstores & sold publicly.
      </p>
    </li>
  </ul>
</div>
