<div class="banner-spacer"></div>
<div id="promo-banner">
  <h1 id="promo-banner-brand">
    THE FUTURES FUND
  </h1>
  <ul id="promo-banner-image-list">
    <li><img src="/img/promo-banner/performing-program.png">
    <li><img src="/img/promo-banner/digital-program.png">
    <li><img src="/img/promo-banner/literary-program.png">
    <li><img src="/img/promo-banner/visual-program.png">
  </ul>
  <ul id="promo-banner-subtitle-list">
    <li id="promo-banner-subtitle-performing"><span>Performing</span>
    <li id="promo-banner-subtitle-digital"><span>Digital</span>
    <li id="promo-banner-subtitle-literary"><span>Literary</span>
    <li id="promo-banner-subtitle-visual"><span>Visual</span>
  </ul>
</div>
