/*
  Reset the default stlyes for common elements
*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: $base-font-family;
  color: $black-color;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

h1 {
  display: inline-block;
  margin: 40px 0px 20px 0px;
  padding: 2.5px $horizontal-margin;
  font-weight: 700;
  background-color: $black-color;
  color: $white-color;
  font-size: 36px;
}

h2 {
  font-size: 34px;
  margin: 20px 0px 20px 0px;
  padding: 2.5px $horizontal-margin;
}

h3 {
  margin: 20px $horizontal-margin;
  font-size: 28px;
}

h4 {
  margin: 20px $horizontal-margin;
  font-size: 22px;
}

h5 {
  margin: 20px $horizontal-margin;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 20px $horizontal-margin;
  font-size: 18px;
  line-height: 18px;
}

a {
  color: $yellow-color;
}

a:hover {
  color: $black-color;
}

em {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
  margin: 10px ($horizontal-margin + 10px);
  padding-left: 10px;
  list-style: square;
}

div.banner-spacer {
  height: 15px;
  background-color: $black-color;
}

@media (max-width: $width-breakpoint) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  div.banner-spacer {
    display: none;
  }
}
