/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 44px;
}

h2 {
  font-size: 35px;
  line-height: 38px;
}

h1 {
  font-size: 30px;
  line-height: 32px;
}

p {
  font-size: 16px;
  line-height: 18px;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/**
 * Common Elements
 */
.yellow-bar {
  background-color: $yellow-color;
  width: 100px;
  height: 5px;
  margin: 20px auto;
}

.divider {
  margin: 0px 50px;
}
