h1#donation-header {
  padding: 0;
  margin: 40px 0 20px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: $black-color;
  text-align: center;
}

div.donation-container {
  margin: 50px 0 100px 0;
  text-align: center;
}
