.donate-block {
  background-color: #4e4e4e;
  margin: 100px auto;
  max-width: 700px;
  height: 70px;
  line-height: 70px;
  padding: 0px;
  text-align: center;

  p {
    display: inline-block;
    text-align: left;
    color: white;
  }

  a {
    line-height: 70px;
    padding: 10px 30px;
    width: 80px;
    height: 30px;
    background-color: $yellow-color;
    color: #111;
    text-decoration: none;
  }
}

.donate-block-pull-left {
  span {
    height: 70px;
    display: table-cell;
    vertical-align: middle;
  }

  vertical-align: middle;
  display: inline-block;
  height: 100%;
  line-height: 100%;
  width: 45%;
  padding: 0 2.5% 0 10%;
}

.donate-block-pull-right {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 26%;
  padding: 0 10% 0 2.5%;
}

@media (max-width: $width-breakpoint) {
  .donate-block {
    height: auto;
    width: 90%;
    margin: 70px auto;

    p {
      margin: 20px 15px 25px 15px;
      padding: 0 10px;
      text-align: center;
    }

    a {
      line-height: 20px;
    }
  }

  .donate-block-pull-left {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;

    span {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .donate-block-pull-right {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 36px;
    margin-bottom: 16px;
  }

}
