footer {
  background-color: black;
  height: 60px;
  color: white;
  div {
    margin: 0px 50px;
    height: 60px;
    p {
      font-size: 16px;
      line-height: 16px;
      position: relative;
      top: 24px;
    }
  }
}
