header {
  height: 180px;

  a#header-brand {
    display: inline-block;

    img {
      margin-left: $horizontal-margin;
      margin-top: 40px;
      height: 100px;
      width: 100px;
    }

    h1 {
      color: $black-color;
      background-color: rgba(0, 0, 0, 0);
      font-weight: 400;
      padding: 0;
      margin-left: 20px;
      position: relative;
      top: 27px;
    }
  }

  nav {
    float: right;
    position: relative;
    top: 72.5px;
    display: inline-block;
    margin-right: $horizontal-margin;

    ul {
      list-style: none;

      li {
        padding: 5px 12.5px;
        display: inline-block;

        a {
          color: $black-color;
          text-decoration: none;
          font-size: 18px;
        }

        a:hover {
          color: $yellow-color;
        }
      }
    }
  }
}

@media (max-width: $width-breakpoint) {
  header {
    height: auto;

    a#header-brand {
      display: block;

      img {
        margin-left: $horizontal-margin;
        margin-top: 40px;
        height: 100px;
        width: 100px;
      }

      h1 {
        margin: 10px 0 0 $horizontal-margin;
        position: static;
        width: 100%;
      }
    }

      nav {
        float: none;
        position: static;
        display: block;
        margin: 10px 0 0 $horizontal-margin;

        ul {
          list-style: none;

          li {
            padding: 0;
            margin-top: 7.5px;
            display: block;
          }
        }
      }
  }
}
