/*
  These styles layout the site header
*/

header {
  width: 100%;
  text-align: center;

  h1#brand {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black-color;
    color: $white-color;
    font-size: 100px;
    height: 117.5px;
    margin-bottom: -95px;
    word-spacing: 15px;
    width: 900px;
    float: top;
    text-align: center;
  }

  ul#header-image-list {
    list-style: none;

    li {
      display: inline-block;
      width: 25%;
      vertical-align: top;
    }
  }

  ul#header-subtitle-list {
    list-style: none;

    li {
      position: absolute;
      height: 50px;
      text-align: center;
      width: 25%;
      vertical-align: middle;

      span {
        font-weight: bold;
        font-size: 24px;
        color: $white-color;
        line-height: 50px;
        height: 100%;
      }
    }

    li#header-subtitle-performing {
      top: 0;
      left: 0;
      background-color: $yellow-color;
    }

    li#header-subtitle-digital {
      top: 0;
      left: 25%;
      background-color: $teal-color;
    }

    li#header-subtitle-literary {
      top: 0;
      left: 50%;
      background-color: $purple-color;
    }

    li#header-subtitle-visual {
      top: 0;
      left: 75%;
      background-color: $red-color;
    }
  }
}
