img.promo-deck {
  width: 100%;
}

.index-preview {
  margin: 50px 50px;
  h1 {
    margin: 10px 0px 20px 0px;
  }
}

.about-preview-container {
  text-align: center;
  vertical-align: middle;
}

.about-preview-image-container {
  display: inline-block;
  width: 40%;
  margin: 0;
}

.about-preview-text-container {
  width: 59.5%;
  display: inline-block;
  margin: 0;
  h1 {
    width: 100%;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
  }
  p {
    width: 100%;
    padding: 0px;
    font-size: 18px;
    line-height: 16px;
  }
}

@media (max-width: $width-breakpoint) {
  #about-preview {
    margin-top: 40px;
  }

  .about-preview-image-container {
    display: block;
    width: 100%;
    margin: auto;
  }

  .about-preview-text-container {
    display: block;
    width: 100%;
    margin-top: 30px;
    h1 {
      padding: 0px;
    }
    p {
      padding: 0px;
    }
  }
}

#programs-preview {
  text-align: center;
  h1 {
    margin: 20px 0px 50px 0px;
  }
}

.programs-preview-element {
  display: inline-block;
  width: 24.5%;
  text-align: center;
  vertical-align: middle;
  h2 {
    margin: 30px 0px 10px 0px;
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
  }
  p {
    margin: 0px;
    font-size: 18px;
    line-height: 16px;
  }
}

@media (max-width: $width-breakpoint) {
  .programs-preview-element {
    width: 49%;
    display: inline-block;
    margin: 20px 0px;
  }
}

@media (max-width: 600px) {
  .programs-preview-element {
    width: 100%;
    display: block;
    margin: 20px 0px;
  }
}
