img#overview-banner {
  width: 100%;
  margin-bottom: 20px;
}

div#program-overview {
  padding: 20px 0px;
  background: $black-color;

  ul {
    margin: 0px $horizontal-margin;
    list-style: none;

    li {
      vertical-align: top;
      display: inline-block;
      width: 22%;
      margin: 0 2% 0 0;

      h2, p {
        margin: 10px 0px;
        padding: 0px;
      }

      h2 {
        font-size: 30px;
        font-weight: bold;
      }

      h2#program-overview-title-digital {
        color: $teal-color;
      }

      h2#program-overview-title-visual {
        color: $red-color;
      }

      h2#program-overview-title-performing {
        color: $yellow-color;
      }

      h2#program-overview-title-literary {
        color: $purple-color;
      }

      p {
        color: $white-color;
      }
    }
  }
}

@media (max-width: $width-breakpoint) {
  img#overview-banner {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  div#program-overview ul li {
    width: 45%;
  }
}

@media (max-width: 600px) {
  div#program-overview ul li {
    width: 100%;
  }
}

div.instructor-container {
  margin: 0 $horizontal-margin;

  div.instructor-cell {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 20%;
    margin: 10px 2% 10px 0;

    h3, h4, h5 {
      margin: 0;
      padding: 5px 0px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 600px) {
  div.instructor-container div.instructor-cell {
    width: 46%;
  }
}

@media (max-width: 450px) {
  div.instructor-container {
    text-align: center;

    div.instructor-cell {
      text-align: left;
      width: 50%;
      margin: 10px 0;
    }
  }
}
