img#overview-banner {
  margin-bottom: 20px;
}

div#program-overview {
  padding: 20px 0px;
  background: $black-color;

  ul {
    margin: 0px $horizontal-margin;
    list-style: none;

    li {
      vertical-align: top;
      display: inline-block;
      width: 22%;
      margin: 0 2% 0 0;

      h2, p {
        margin: 10px 0px;
        padding: 0px;
      }

      h2 {
        font-size: 30px;
        font-weight: bold;
      }

      h2#program-overview-title-digital {
        color: $teal-color;
      }

      h2#program-overview-title-visual {
        color: $red-color;
      }

      h2#program-overview-title-performing {
        color: $yellow-color;
      }

      h2#program-overview-title-literary {
        color: $purple-color;
      }

      p {
        color: $white-color;
      }
    }
  }
}

ul#partners-list {
  list-style: square;
  margin: 20px ($horizontal-margin + 20px);
  font-size: 18px;
}

@media (max-width: $width-breakpoint) {
  img#overview-banner {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  div#program-overview ul li {
    width: 45%;
  }
}

@media (max-width: 600px) {
  div#program-overview ul li {
    width: 100%;
  }
}
