#programs-title {
  text-align: center;
  margin: 16px 0px;
  padding: 0px;
}

#programs-title-blurb {
  text-align: center;
  padding: 0px 20%;
}

.program-container {
  width: 100%;
  vertical-align: middle;
  height: 375px;
  overflow: hidden;
  margin: 60px 0px;

  img {
    display: inline-block;
    height: 375px;
  }

  .program-container-text {
    float: left;
    display: inline-block;
    height: 275px;
    position: relative;
    top: -325px;
    z-index: -500;
    span {
      display: inline-block;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-60%);
      -webkit-transform: translateY(-60%);
      transform: translateY(-60%);
    }
    h1 {
      font-size: 23px;
      font-weight: bold;
      margin: 5px 5%;
      width: 88%;
    }
    p {
      color: white;
      font-weight: thin;
      margin: 5px 5%;
      width: 88%;
    }
  }
}

.program-container-pull-left {
  .program-container-text {
    margin-left: 460px;
  }
  img {
    float: left;
  }
}

.program-container-pull-right {
  .program-container-text {
    margin-right: 460px;
  }
  img {
    float: right;
  }
}

#digital-program-container {
  .program-container-text {
    background-color: $teal-color;
  }
}

#performing-program-container {
  .program-container-text {
    background-color: $yellow-color;
  }
}

#literary-program-container {
  .program-container-text {
    background-color: $purple-color;
  }
}

#visual-program-container {
  .program-container-text {
    background-color: $red-color;
  }
}

@media (max-width: $width-breakpoint) {
  .program-container {
    height: auto;
    text-align: left;
    margin: 0px;

    img {
      float: none;
      width: 100%;
      height: auto;
      margin: auto;
    }

    .program-container-text {
      top: 0px;
    }
  }

  #digital-program-container {
      margin-top: 60px;
  }

  #visual-program-container {
    margin-bottom: 60px;
  }

  .program-container-pull-left {
    .program-container-text {
      margin-left: 0px;
    }
  }

  .program-container-pull-right {
    .program-container-text {
      margin-right: 0px;
    }
  }
}
