---
layout: default
permalink: /donate/
---

{% include promo-banner.html %}

<h1 id="donation-header">Donate Today</h1>

<div class='donation-container'>

<script>
  (function() {
    if(document.getElementById('commitchange-script')) return;
    var npo = 4290;
    var script = document.createElement('script');
    var first = document.getElementsByTagName('script')[0];
    script.setAttribute('data-npo-id', npo);
    script.id = 'commitchange-script';
    script.src = 'https://commitchange.com/js/donate-button.v2.js';
    first.parentNode.insertBefore(script, first);
  })();
</script>

<a data-designation='The Futures Fund' data-custom-amounts='10,20,30,70,100,200,1000' class='commitchange-donate'></a>

</div>

{% include program-overview.html %}
